.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);

    &__logo {
        img {
            width: 100px;
        }
    }

    &__location {
        flex: 1;
        display: flex;

        span {
            font-weight: 500;
            padding: 0px 5px
        }
    }

    &__items {
        a {
            list-style-type: none;
            padding: 0px 10px;
            color: black;
            text-decoration: none;
        }

        a:hover {
            cursor: pointer;
            color: orange;
            font-size: larger;
        }

        ul {
            display: flex;
            justify-content: space-between;

        }
    }
}